# Copy any lines from sdkconfig to here. These will be the new default values.
# Lines added to this file will not affect the build process while the sdkconfig file exists.
# Once the project is finished, the sdkconfig can be untracked and only this file will be on the repo.

CONFIG_ESP32_SPIRAM_SUPPORT=y